* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

main {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: stretch;
    height: 100vh;
}


article {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: rgb(243, 239, 235);
    box-shadow: 0 6px 16px;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    height: 60vh;
}

section{
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: rgb(243, 239, 235);
    box-shadow: 0 6px 16px;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    height: 40vh;
}

aside{
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: rgb(243, 239, 235);
    box-shadow: 0 6px 16px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
}