.box{
    display: flex;
    border: 1px solid green;
    flex-direction: column-reverse;
    div {
        border:1px solid blue;
    }
}

.box-grid{
    display: grid;
    border: 1px solid orange;
    grid-template-columns: 30px 20px 10px;
}